@import "tailwindcss";

body{
background-color: #e2d2d2;
}

@keyframes star-float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-40px) rotate(8deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-star-float {
  animation-name: star-float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
